<section class="store-policy">

  <div class="policy-header">
    <h2>Como funciona a Galeria Seleta</h2>

    <p>
      Trabalhamos com peças vintage e exclusivas,
      selecionadas individualmente para garantir
      autenticidade, qualidade e estilo. 
    </p>
    <p>
      A Galeria Seleta nasceu em 2025 com o propósito de transformar a experiência de quem ama o universo dos brechós. 
      Identificamos a oportunidade de unir estilo, sustentabilidade e praticidade em um só lugar, 
      criando este espaço online para que você possa garimpar peças únicas sem precisar se deslocar até nossa loja física.
    </p>
  </div>

  <div class="policy-grid">

    <div class="policy-card">
      <h3>Curadoria Exclusiva</h3>
      <p>
        Todas as peças passam por uma seleção manual,
        avaliando conservação, autenticidade e estética.
      </p>
      <p>
        Nosso objetivo é facilitar sua jornada de compra, 
        oferecendo curadoria especial de produtos e a mesma essência acolhedora do brechó, 
        agora ao alcance de um clique.
      </p>

      <img src="https://images.unsplash.com/photo-1521886243261-7fc82ca5cb60?q=80&w=1073&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imgCuradoria">
    </div>

    <div class="policy-card">
      <h3>Peças Únicas</h3>

      <p>
        Muitas peças possuem apenas uma unidade disponível,
        tornando cada compra exclusiva.
      </p>
      <p>
        De grifes vintage a achados fast fashion em excelente estado, 
        garantimos que você encontre sempre algo único e especial. Nossas coleções mudam constantemente, 
        então o que é tendência hoje, pode ser seu amanhã.
      </p>
      <img src="https://plus.unsplash.com/premium_photo-1761430331750-293630e52e9b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imgPeças">
    </div>

    <div class="policy-card">
      <h3>Higienização</h3>

      <p>
        Todos os produtos passam por processos de limpeza
        e preparação antes do envio.
      </p>
      <p>
        Mantivemos a alma do nosso brechó físico, mas com a praticidade do mundo moderno. 
        Cada peça é selecionada a dedo, inspecionada, higienizada e catalogada com o mesmo olhar atento que nos tornou conhecidos.
      </p>
      <img src="https://plus.unsplash.com/premium_photo-1682129254917-6c5acb7532ab?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imgHigienizacao">
    </div>

    <div class="policy-card">
      <h3>Trocas e Suporte</h3>

      <p>
        Oferecemos suporte ao cliente para dúvidas,
        acompanhamento de pedidos e orientações.
      </p>
      <p>
        Transformar o atendimento em uma jornada de confiança é o verdadeiro coração da sua marca.
        O foco é entregar tranquilidade e parceria constante.
        É essa dedicação em cada etapa que transforma compradores em fãs fiéis!
      </p>
      <img src="https://plus.unsplash.com/premium_photo-1661578391277-fc640d8ea46c?q=80&w=1632&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="imgSuporte">
    </div>

  </div>

</section>